<p>Hey <%= firstName %>,</p>

<p>
  Access your <%= serviceName %> account via this one-time link which will
  remain valid for <%= expiresIn %>.
</p>

<p><a href="<%= magicLoginLink %>">Log In</a></p>

<p>Didn't make this request? You can safely ignore and delete this email.</p>
